
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>易知海外</title>

    <script src="../../resource/js/jquery/jquery-1.11.1.min.js"></script>
    <script src="../../resource/js/jquery/jquery.mobile-1.4.5.min.js"></script>

    <link rel="stylesheet" href="../../resource/style/jquery/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="../../resource/style/jquery/jquery.mobile.theme-1.4.5.min.css" />
    <link rel="stylesheet" href="../../resource/style/themes/my-theme.min.css" />
    <style>
        span{ font-size:10pt}
    </style>
</head>
<body>
<div data-url="panel-fixed-page1" data-role="page" class="jqm-demos" id="panel-fixed-page1" data-title="易知海外">
    <div data-role="header" data-position="fixed" data-theme="c">
        <h1>发布易知服务条款</h1>
    </div>

    <div data-role="content">
        <div><p style="margin:0pt">
            <span style="font-size:10pt; font-weight:bold">易知海外服务条款和条件</span>
            <br/><br/><span>下述条款和条件是您与易知海外之间订立的合约（“协议”）。请仔细阅读协议。确认您已理解并接受本协议，点击“同意”</span>
            <br/><br/><span>A. 服务简介</span>
            <br/><br/><span>本协议适用于您使用易知海外的各项服务（“服务”），通过这些服务，您可以购买、租赁或订阅微信公众号、app（“App”）和其他应用内服务（合称“内容”）。我们通过微信公众号，app，和官网提供服务。您可以创建一个用于使用服务的账户。为了使用我们的服务，您需要具备兼容的硬件、软件（推荐使用最新版本，有时必须使用最新版本）和互联网访问能力（可能产生费用）。我们服务的性能可能受这些因素影响。 </span>
            <br/><br/><span>B. 使用我们的服务</span>
            <br/><br/><span>付款、纳税和退款</span>
            <br/><br/><span>您可以通过我们的服务获得免费或付费内容，二者均称为“交易”。每一笔交易授予您一项仅使用服务的许可。每一交易代表一份您与易知海外之间和/或您与通过我们的服务提供内容的实体之间的电子合约。对于任何付费交易，易知海外会通过您的支付方式（例如：信用卡、借记卡、礼品卡/码或在居住国可用的其他方法）收费，包括相关税费。您同意接受电子格式发票，包括电子邮件发票。所有交易都是最终交易。内容价格可能随时变动。如果因技术问题阻碍或无理延迟内容的交付，您唯一的救济就是由易知海外决定更换服务，或退还已支付的价款。如果有证据表明客户有欺诈、滥用退款或其他易知海外有权提起相应反诉的操纵行为，则易知海外可不时拒绝退款请求。</span>
            <br/><br/><span>微信号</span>
            <br/><br/><span>使用我们的服务和获取内容需要一个微信号。微信号是您在整个易知海外生态系统中使用的账户。您的微信号非常宝贵，您负责维护其保密性和安全。对于未经授权使用您的微信号造成的任何损失，易知海外概不负责。如果您怀疑自己的微信号信息遭到泄露，请联系易知海外。</span>
            <br/><br/><span>您必须年满13周岁（或注册程序规定的居住国内的最低年龄）才能使用我们的服务。未满13岁的个人账户需要由家长或法定监护人为使用家庭共享功能而创建，或由获准教育机构创建。</span>
            <br/><br/><span>隐私权</span>
            <br/><br/><span>使用我们的服务应遵守易知海外的隐私权政策。</span>
            <br/><br/><span>服务和内容使用规则</span>
            <br/><br/><span>使用服务和内容时，您必须遵守本部分所列规则（“使用规则”）。以任何其他方式使用服务和内容均构成严重违反本协议。易知海外可监控您使用服务和内容的情况，确保您遵守这些使用规则。 </span>
            <br/><br/><span>所有服务</span>
            <br/><br/><span>-易知海外交付内容或服务并不意味着向您转让任何推广使用权，也不构成授予或放弃版权所有者的任何权利。</span>
            <br/><br/><span>-您仅可使用易知海外软件访问我们的服务，不得修改或使用修改过的易知海外软件。</span>
            <br/><br/><span>您向我们的服务提交内容</span>
            <br/><br/><span>您可以向我们的服务提交材料，如服务内容、文章、图片、视频和播客等（包括相关元数据和艺术作品）。您使用这些功能必须遵守下述可随时更新的提交指南。如果您发现材料不符合提交指南的规定，请使用“报告问题”功能。您在此授予易知海外一项全球范围内、无使用费、永久性、非排他许可，准许易知海外使用您在服务中提交的内容和相关推广材料。易知海外可监控并决定移除或编辑任何提交的材料。 
</span>
            <br/><br/><span>提交指南：不得将服务用于：</span>
            <br/><br/><span>-发布您未经允许、无权或无许可发布的任何材料；</span>
            <br/><br/><span>-发布令人反感、冒犯他人、非法、欺骗性或有危害的内容；</span>
            <br/><br/><span>-发布属于他人的个人、私人或保密信息；</span>
            <br/><br/><span>要求未成年人提供个人信息；</span>
            <br/><br/><span>-冒充或假装与另一个人或实体有关联关系；</span>
            <br/><br/><span>-发布或传输垃圾邮件，包括但不限于未经请求的或未经授权的广告、宣传材料或信息公告；
</span>

            <br/><br/><span>最终用户许可协议</span>
            <br/><br/><span>您在本标准最终用户许可协议或定制最终用户许可协议项下取得的任何易知海外的许可，是由易知海外授予的，而您在本标准最终用户许可协议或定制最终用户许可协议项下取得的任何第三方的许可，是由该第三方供应商授予的。受本标准最终用户许可协议约束的任何服务在本协议中称为“许可服务”。应用供应商或易知海外（视情况而定，下称“许可方”）保留本标准最终用户许可协议中未明确向您授予的对许可服务的一切权利。</span>
            <br/><br/><span>a.同意使用数据：您同意，许可方可以收集和使用技术数据和相关信息，包括但不限于定期收集关于您的设备、系统和应用程序软件以及外围设备的技术信息。许可方可采用不会使您本人身份被识别的方式使用该等信息，以改善产品或者向您提供服务或技术。</span>
            <br/><br/><span>b.终止。本标准最终用户许可协议在由您或许可方终止之前有效。如果您未遵守标准最终用户许可协议的任何条款，则您在标准最终用户许可协议项下的权利将自动终止。 </span>
            <br/><br/><span>c.外部服务。许可应用程序可使您访问许可方和/或第三方的服务及网站（均称为“外部服务”）。您同意，您使用外部服务均由您本人独自承担风险。许可方不负责检查或评估任何第三方外部服务的内容或准确性，并且不对任何第三方外部服务承担责任。任何许可应用程序或外部服务展示的数据，包括但不限于财务、医疗或位置信息，仅供一般参考之用，许可方或其代理均不为此提供保证。您使用外部服务的方式不得违背本标准最终用户许可协议，或侵犯许可方或任何第三方的知识产权。您同意，使用外部服务不会骚扰、辱骂、跟踪、威胁或诋毁任何人或实体，许可方对您的任何此类使用不承担责任。外部服务可能仅提供部分语言版本或者可能您的居住国无法使用，并且外部服务可能不适合或不可在任何特定地点使用。如果您选择使用外部服务，您自行负责遵守任何适用的法律。许可方保留在不通知您或不对您承担责任的情况下，随时变更、暂停、去除、禁止访问或限制访问或限制任何外部服务的权利。 
</span>
            <br/><br/><span>d. 不作保证：您明确确认和同意，您使用许可服务由您自身独自承担风险，并且关于质量是否满意、性能、准确性的全部风险和工作均由您自行负责。在适用法律允许的最大范围内，提供的任何服务均按“原样”及“现有”的原则连同其所有瑕疵一起提供，而且不含任何种类的保证。</span>
            <br/><br/><span>e. 责任限制。在法律未禁止的范围内，在任何情况下，对于因您使用或不能使用许可服务而产生的或与之相关的任何人身伤害或任何附带的、特殊的、间接的或后果性的损害赔偿（包括但不限于关于利润损失、数据灭失、业务干扰或任何其他商业损害或损失），无论因何种原因导致也无论基于何种责任理论（合同、侵权还是其他），即使许可商已被告知发生该等损害赔偿的可能性，许可商也无需承担任何责任。某些司法管辖区不允许对人身伤害或就附带或后果性的损害赔偿设定责任限制，因此，上述责任限制规定可能不适用于您。无论如何，许可商就所有损害赔偿（但在涉及人身伤害的情况下适用法律要求的损害赔偿除外）对您承担的责任总额不得超过五十美元（$50）。即使这一救济未能实现其基本目的，上述责任限制规定也应适用。</span>
            <br/><br/><span>合同变更</span>
            <br/><br/><span>易知海外保留权利，可随时修改本协议，并增加关于您使用服务的新的或额外的条款或条件。前述修改及额外条款和条件将通知您，如您接受，将立即生效并成为本协议的一部分。您继续使用服务将被视为接受这些修改及额外条款和条件。如果您拒绝接受变更，易知海外将有权终止本协议。</span>
            <br/><br/><span>第三方资料</span>
            <br/><br/><span>易知海外不对内容或服务中包含的或作为链接插入的第三方资料承担责任。</span>
            <br/><br/><span>知识产权</span>
            <br/><br/><span>您同意，服务（包括但不限于内容、图片、用户界面、声音素材、视频素材、编辑内容和安装服务所使用的脚本和软件）包含易知海外和/或其许可方拥有的专有信息和资料，受适用的知识产权法律和其他法律（包括但不限于著作权法律）的保护。您同意，您不会以任何方式使用这些专有信息或资料，但根据本协议为个人而非商业目的使用服务除外。除非本协议明确允许，否则不得以任何形式或手段复制服务的任何组成部分。您同意不会以任何方式修改、租借、租赁、销售或分发服务或内容，并且您不得以未明确授权的任何方式利用服务。</span>
            <br/><br/><span>易知海外名称、易知海外标识、 以及与服务有关而使用的其他易知海外商标、服务商标、图形和标识是易知海外在世界各个国家/地区的商标或注册商标。未授予您关于任何上述商标的任何权利或使用许可。 
</span>
            <br/><br/><span>服务的终止和暂停</span>
            <br/><br/><span>如果您未遵守或易知海外怀疑您未遵守本协议的任何规定，易知海外可在无需通知您的情况下：(i) 终止本协议和/或您的易知海外ID，而您仍将负责截至终止之日（含该日）您的易知海外ID项下的所有应付款项；且/或 (ii) 终止您的软件使用许可；且/或 (iii) 阻止您访问服务。 </span>
            <br/><br/><span>易知海外进一步保留权利，随时修改、暂停或停止服务（或其任何部分或内容），无论是否通知您，如果易知海外行使该等权利，易知海外不就此对您或任何第三方承担责任。在可行的情况下，对于服务的修改、暂停或停止，易知海外将提前向您发出警告。</span>
            <br/><br/><span>保证的排除；责任限制</span>
            <br/><br/><span>易知海外不担保、陈述或保证您使用服务将不会中断或发生意外，您同意，易知海外可在不通知您的情况下不时无限期地撤销服务、随时取消服务或以其他方式限制或禁止您访问服务。 
</span>
            <br/><br/><span>您明确同意，您是否能使用服务均由您本人独自承担风险。服务以及通过服务向您交付的所有内容（除易知海外明确声明的外）均按“原样”及“现有”的原则提供，供您使用，不含任何种类的明示或默示保证，包括对适销性、适合于特定用途、所有权及不侵权的所有默示保证。由于某些司法管辖区不允许排除默示保证，因此，上述默示保证的排除可能不适用于您。</span>
            <br/><br/><span>在任何情况下，易知海外、其董事、高管、员工、关联公司、代理、承包商或许可方均不对以下方面承担责任，即使已被告知其可能性：因您使用任何服务所引起的任何直接、间接、附带、惩罚性、特殊或后果性损害赔偿，或者在任何方面与您使用服务和/或内容有关的任何其他主张，包括但不限于任何内容中的任何错误或遗漏、由于使用通过服务所张贴、传输或通过其他方式提供的任何内容而发生的任何种类的任何损失或损害。由于某些国家、州或司法管辖区不允许排除或限制对后果性或附带损害所承担的责任，因此在这些国家、州或司法管辖区，易知海外的责任限制应以法律允许的为限。</span>
            <br/><br/><span>易知海外应尽合理努力保护您提交的有关服务的信息，但是您同意，您提交信息的风险由您自行承担，您在此免除易知海外以任何方式就与这些信息有关的任何损失或责任向您承担的任何责任。
</span>
            <br/><br/><span>易知海外不声明或保证服务不会遭受丢失、损坏、攻击、病毒、干扰、黑客入侵或其他安全侵入，并且您在此免除易知海外承担与之有关的任何责任。您应负责备份您自己的系统。</span>
            <br/><br/><span>公共机构的法定例外情况</span>
            <br/><br/><span>如果您是符合资格的公立教育机构或政府机构，并且本协议的任何组成部分（例如赔偿部分的全部或部分内容）由于适用的地方、国家、州或联邦法律变为无效或不可执行，则该部分应视为无效或不可执行（视具体情况而定），并且以最符合适用法律的方式解释。</span>
            <br/><br/><span>其他规定</span>
            <br/><br/><span>本协议构成您与易知海外之间的全部协议，适用于您对服务的使用，取代您与易知海外之间以前就同样主题达成的任何协议。在您使用关联公司服务、第三方内容、第三方软件或其他服务（如批量采购计划）时，您可能还须遵守额外的条款与条件。如果本协议的任何部分被判定为无效或不可强制执行，则该部分应按与适用法律一致的方式加以解释，以尽可能地反映各方的原意，而其余部分仍应充分有效。易知海外未强制执行本协议中的任何权利或规定不构成对这些规定或任何其他规定的放弃。易知海外不对其不能控制的原因造成的未履行义务情况承担责任。</span>
            <br/><br/><span>您同意遵守适用于您对服务的使用的所有地方、州、联邦和国家的法律、成文法、法令和条例。使用服务时，您可能还需要遵守其他法律。所有以电子方式交付的交易的灭失风险在电子传输给接收方后即转移至购买方。易知海外的任何员工或代理均无权变更本协议。</span>
            <br/><br/><span>易知海外可能向您发送有关服务的通知，通知方式包括向您的电子邮箱发送电子邮件、向您的邮寄地址邮寄信件，或者在服务上张贴通知。通知立即生效。易知海外还可能通过电子邮件或推送通知向您发送关于服务的其他信息。 </span>
            <br/><br/><span>您在此授权易知海外采取易知海外认为合理必要或适当的措施以执行和/或核实对本协议任何部分的遵守情况。您同意，易知海外有权向执法机构、政府官员和/或第三方披露其认为对于执行和/或核实对本协议任何部分的遵守情况合理必要或适当的任何资料和/或信息（包括但不限于易知海外对您使用服务和/或内容和/或关于您使用服务和/或内容是非法的和/或侵犯第三方权利的第三方主张有关的任何法律程序予以配合的权利），而无须对您承担责任。</span>
            <br/><br/><span>未成年儿童应与其家长或监护人共同阅读本协议，确保儿童与家长或法定监护人理解本协议。
</span>
            <br/><br/><span>最近更新：2016年9月21日</span>
        </p></div>
    </div>
    <div data-role="footer" data-position="fixed"  data-theme="a">
        <div data-role="navbar" data-iconpos="left">
            <ul>
                <li><a href="index.html" data-rel="back" data-theme="c" data-role="button">返回</a></li>
            </ul>
        </div><!-- /navbar -->
    </div>
</div>
</body>
</html>

