<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>易知海外</title>

    <script src="../../resource/js/jquery/jquery-1.11.1.min.js"></script>
    <script src="../../resource/js/jquery/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="../../resource/style/jquery/jquery.mobile-1.4.5.min.css" />
    <style>
        div.headimage {
            height: 65px;
            width: 65px;
        }
        h5{ color:#33c8ce}
        h6{ color:#33c8ce}
        p{ font-size:14px;}
        table{ table-layout : fixed; width:100%; }
    </style>

</head>
<body>

<div data-url="panel-fixed-page1" data-role="page" class="jqm-demos" id="panel-fixed-page1" data-title="易知海外">
    <div data-role="header" data-position="fixed">
        <h1>购买River的服务</h1>
    </div>

    <form id="submitorder" data-ajax="false" method="post" action="../../../ToBeDep/SubmitYZ.php">
        <div data-role="content">
            <h5>服务信息:</h5>
            <ul data-role="listview" data-inset="true">
                <li>服务地点: <span class="ui-li-count">旧金山</span></li>
                <li>服务类型: <span class="ui-li-count">旅游,留学</span></li>
                <li>服务价格: <span class="ui-li-count">￥1000/小时</span></li>
            </ul>
            <h5>咨询时长:</h5>
            <div id="div-slider">
                <input type="range" name="servicehours" id="servicehours" value="1" min="0" max="100" data-highlight="true" />
            </div>
            <h5>咨询时长:</h5>
            <table style="margin: -8px 0px -8px 0px" border="0">
                <tr>
                    <td style="width:8%">
                        <img id="add2" src="http://i.imgur.com/98cvZnj.png" width="25" height="25" class="add"/>
                    </td>
                    <td style="width:30%">
                        <input id="qty2" type="number" value="1" class="qty"/>
                    </td>

                    <td style="width:38%">
                        <img src="http://i.imgur.com/yOadS1c.png" id="minus2" width="25" height="25" class="minus"/>
                    </td>
                </tr>
            </table>

            <h5>总计(￥):</h5>
            <div id="totalmoney">
                <input type="text" name="servicetotalfee" id="servicetotalfee"  value=""/>
            </div>

            <h5>咨询话题:</h5>
            <textarea cols="30" rows="8" name="requestmessage" id="requestmessage" data-mini="true"></textarea>

            <input type="hidden" name="customerid" id="customerid"  value=""/>
            <input type="hidden" name="sellerid" id="sellerid"  value=""/>
            <input type="hidden" name="servicearea" id="servicearea"  value=""/>
            <input type="hidden" name="servicetype" id="servicetype"  value=""/>
            <input type="hidden" name="serviceprice" id="serviceprice"  value=""/>
            <input type="hidden" name="servicepriceunit" id="servicepriceunit"  value=""/>
        </div>

    <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li><a href="#" onclick="JavaScript:$('#submitorder').submit();" rel="external" >去付款</a></li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#div-slider").change(function() {
        var slider_value = $("#servicehours").val();
        html = '<input type="text" name="servicetotalfee" id="servicetotalfee"  value="' + slider_value * 1000 +'"/>';
        $("#totalmoney").html(html);
    });
    $(function(){
        $("#add2").click(function(){
            $('#qty2').val(Number($('#qty2').val())+1);
        });
        $("#minus2").click(function(){
            $('#qty2').val(Number($('#qty2').val())-1);
        });
    });
</script>

</body>
</html>
