
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>易知海外</title>

    <script src="../../resource/js/jquery/jquery-1.11.1.min.js"></script>
    <script src="../../resource/js/camera/jquery.mobile.customized.min.js"></script>
    <script src="../../resource/js/jquery/jquery.mobile-1.4.5.min.js"></script>
    <script src="../../resource/js/camera/camera.min.js" type="text/javascript"></script>
    <script src="../../resource/js/camera/jquery.easing.1.3.js" type="text/javascript"></script>


    <link rel="stylesheet" href="../../resource/style/jquery/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="../../resource/style/themes/my-theme.min.css" />
    <link  href="../../resource/style/camera/camera.css" rel="Stylesheet" type="text/css" />

    <style>
        body {
            margin: 0;
            padding: 0;
        }
        a {
            color: #09f;
        }
        a:hover {
            text-decoration: none;
        }
        #back_to_camera {
            clear: both;
            display: block;
            height: 80px;
            line-height: 40px;
            padding: 20px;
        }
        .fluid_container {
            margin: 0 auto;
            max-width: 1000px;
            width: 90%;
        }
    </style>

    <script type="text/javascript">

        $(function() {

            $('#camera_wrap_1').camera({
                time: 1000,
                thumbnails:false
            })
        });
    </script>

</head>
<body>
<div data-url="panel-fixed-page1" data-role="page" class="jqm-demos" id="panel-fixed-page1" data-title="易知海外">
    <div data-role="header" data-position="fixed">
        <h1>我提供的服务</h1>
    </div>

    <div class="fluid_container">
        <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
            <div data-thumb="http://clcentury.oss-cn-beijing.aliyuncs.com/yzphoto/heads/1/head.png"
                 data-src="http://clcentury.oss-cn-beijing.aliyuncs.com/yzphoto/pics/1/2/20160610142232_1.jpg">
                <div class="camera_caption fadeFromBottom">
                    第<em>1</em> 幅图片的说明文字
                </div>
            </div>
            <div data-thumb="http://clcentury.oss-cn-beijing.aliyuncs.com/yzphoto/heads/1/head.png"
                 data-src="http://clcentury.oss-cn-beijing.aliyuncs.com/yzphoto/pics/1/1/20160610130546_3.jpg">
                <div class="camera_caption fadeFromBottom">
                    第<em>2</em> 幅图片的说明文字
                </div>
            </div>
            <div data-thumb="http://clcentury.oss-cn-beijing.aliyuncs.com/yzphoto/heads/1/head.png"
                 data-src="http://clcentury.oss-cn-beijing.aliyuncs.com/yzphoto/pics/1/2/20160610142232_1.jpg">
                <div class="camera_caption fadeFromBottom">
                    第<em>3</em> 幅图片的说明文字
                </div>
            </div>
        </div>

    </div>

    <div data-role="footer" data-position="fixed">
        <h4>Copyright (c) 2016 .</h4>
    </div>
</div>

</body>
</html>

