<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>发现</title>
    <link rel="stylesheet" href="../../resource/style/weiui/weui.css"/>
    <link rel="stylesheet" href="../../resource/style/weiui/example.css"/>

    <link rel="stylesheet" href="../../resource/style/mobile.css"/>

    <link rel="stylesheet" href="../../resource/style/default/common.css"/>
    <link rel="stylesheet" href="../../resource/style/flaty/flaty.css"/>
    <link rel="stylesheet" href="../../resource/style/bootstrap.css"/>
    <!--

    -->
</head>
<body>

<div class="hd">
    <h1 class="page_title">选择服务地区</h1>
    <p class="page_desc">美国</p>
</div>

<div class="weui_grids">
    <a href="../query/discover.html" class="weui_grid">
        <p class="weui_grid_label">
            Button
        </p>
    </a>
    <a href="../query/discover.html" class="weui_grid">
        <p class="weui_grid_label">
            Button
        </p>
    </a>
    <a href="../query/discover.html" class="weui_grid">
        <p class="weui_grid_label">
            Button
        </p>
    </a>
    <a href="../query/discover.html" class="weui_grid">
        <p class="weui_grid_label">
            Button
        </p>
    </a>
    <a href="../query/discover.html" class="weui_grid">
        <p class="weui_grid_label">
            Button
        </p>
    </a>
    <a href="../query/discover.html" class="weui_grid">
        <p class="weui_grid_label">
            Button
        </p>
    </a>
    <a href="../query/discover.html" class="weui_grid">
        <p class="weui_grid_label">
            Button
        </p>
    </a>
</div>

<div class="hd">

    <p class="page_desc">中国</p>
</div>

<div class="weui_grids">
    <a href="../query/discover.html" class="weui_grid">
        <p class="weui_grid_label">
            Button
        </p>
    </a>
    <a href="../query/discover.html" class="weui_grid">
        <p class="weui_grid_label">
            Button
        </p>
    </a>
    <a href="../query/discover.html" class="weui_grid">
        <p class="weui_grid_label">
            Button
        </p>
    </a>
    <a href="../query/discover.html" class="weui_grid">
        <p class="weui_grid_label">
            Button
        </p>
    </a>
    <a href="../query/discover.html" class="weui_grid">
        <p class="weui_grid_label">
            Button
        </p>
    </a>
    <a href="../query/discover.html" class="weui_grid">
        <p class="weui_grid_label">
            Button
        </p>
    </a>
    <a href="../query/discover.html" class="weui_grid">
        <p class="weui_grid_label">
            Button
        </p>
    </a>
</div>

<script src="../../resource/js/weui/zepto.min.js"></script>
<script src="../../resource/js/weui/router.min.js"></script>
<script src="../../resource/js/weui/example.js"></script>

</body>
</html>