<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>易知海外</title>

    <script src="../../resource/js/jquery/jquery-1.11.1.min.js"></script>
    <script src="../../resource/js/jquery/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="../../resource/style/jquery/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="../../resource/style/cropper/cropper.min.css" />
    <link rel="stylesheet" href="../../resource/style/cropper/main.css" />
    <link rel="stylesheet" href="../../resource/style/themes/my-theme.min.css" />
</head>
<body>

<div data-url="panel-fixed-page1" data-role="page" class="jqm-demos" id="panel-fixed-page1" data-title="易知海外">
    <div data-role="header" data-position="fixed">
        <h1>River</h1>
    </div>

    <div class="container" id="crop-avatar" data-role="content">
        <h5>我的头像:</h5>
        <!-- Current avatar -->
        <div class="avatar-view" title="Change the avatar">
            <img src="../../resource/images/head_default.jpg" alt="Avatar" onclick="chooseImages()">
        </div>
    </div>

    <div data-role="content">
        <h5>服务信息:</h5>
        <ul data-role="listview" data-inset="true">
            <li>
                <a href="sellerdetails.html" rel="external">
                    实名认证
                </a>
            </li>
            <li>
                <a href="sellerdetails.html" rel="external">
                    我购买的服务
                </a>
            </li>
            <li>
                <a href="sellerdetails.html" rel="external">
                    我提供的服务
                </a>
            </li>
        </ul>
    </div>

    <div data-role="popup" id="reviewpopup" class="reviewpopup" data-overlay-theme="a"  data-theme="c" data-corners="false" data-tolerance="30,15">
        <!--<p>是否删除该图片?</p>-->
        <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>

        <div class="modal fade" id="avatar-modal" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form class="avatar-form" action="../../../Controller/AuthUserDispatcher.php?c=submitheadpic" enctype="multipart/form-data" method="post">
                        <div class="modal-body">
                            <div class="avatar-body">
                                <div>
                                    <h4 >请截取头像</h4>
                                </div>

                                <!-- Crop and preview -->
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="avatar-wrapper"></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="avatar-preview preview-md"></div>
                                    </div>

                                </div>

                                <div class="row avatar-btns">
                                    <div class="col-md-3">
                                        <button type="submit" class="btn btn-primary btn-block avatar-save">保存头像</button>
                                    </div>
                                </div>

                                <!-- Upload image and data -->
                                <div class="avatar-upload" >
                                    <input type="hidden" class="avatar-src" name="avatar_src">
                                    <input type="hidden" class="avatar-data" name="avatar_data">
                                    <div style="opacity: 0;">
                                        <input type="file" class="avatar-input" id="avatarInput" name="avatar_file" accept="image/*" >
                                    </div>
                                    <!--
                                    <input type="file" class="avatar-input" id="avatarInput" name="avatar_file" accept="image/*" capture="camera">
                                    <input type="file" class="avatar-input" id="avatarInput" name="file" accept="image/*" style="display:none">
                                    -->
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- /.modal -->
        <div class="loading" id="loading" aria-label="Loading" role="img" tabindex="-1"></div>
        <!--
        <img src="" alt="review" class="reviewimage">
        <div><a id="deletebutton" href="" rel="external" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini">删除此图片</a></div>
        <input type="file" class="sr-only" id="inputImage" name="file" accept="image/*" style="display:none">
        -->
    </div>

    <div data-role="footer" data-position="fixed">
        <h4>Copyright (c) 2016 .</h4>
    </div>
</div>
<script src="../../resource/js/cropper/cropper.min.js"></script>
<script src="../../resource/js/cropper/main.js"></script>

<script>
    /*
    wx.config({
        debug: false,
        appId: 'wx3266dc2dad415085',
        timestamp: 1464922843,
        nonceStr: 'TqKa5oLBM83OhiRf',
        signature: 'ea13cb7bcaa48dbcb41b7507902f2dfce984cd16',
        jsApiList: [
            'chooseImage',
            'uploadImage',
        ]
    });
    */
    function chooseImages(){
        $('.reviewpopup').popup('open');
        $('#avatarInput').click();

        /*
        wx.chooseImage({
            count: 1,
            success: function (res) {
                var localIds = res.localIds;
                alert(localIds[0]);
                alert('已选择 ' + res.localIds.length + ' 张图片');
            }
        });
        */
    };

</script>
</body>
</html>
