<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>易知海外</title>

    <script src="../../resource/js/jquery/jquery-1.11.1.min.js"></script>
    <script src="../../resource/js/jquery/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="../../resource/style/jquery/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="../../resource/style/themes/my-theme.min.css" />
    <style>
        h5{ color:#33c8ce}
        h3{ color:#33c8ce}
        p{ font-size:18px;}
    </style>

</head>
<body>

<div data-url="panel-fixed-page1" data-role="page" data-theme="a" class="jqm-demos" id="panel-fixed-page1" data-title="易知海外">
    <div data-role="header" data-position="fixed" data-theme="c">
        <h1>确认账号</h1>
    </div>

    <div data-role="content">
        <h3>请选择卖家收款账号</h3>
        <h5>使用微信零钱收款</h5>
        <form id="selectAccount" data-ajax="false" method="post" action="../../../Controller/AuthUserDispatcher.php?c=updateMyinfo">
            <fieldset data-role="controlgroup">
                <input type="radio" name="radio-choice" id="radio-choice-1" value="choice-1" checked="checked" />
                <label for="radio-choice-1">Cat</label>

                <input type="radio" name="radio-choice" id="radio-choice-2" value="choice-2" />
                <label for="radio-choice-2">Dog</label>
            </fieldset>
            <input type="submit" name="yzsubmit" id="yzsubmit" value="确定" data-theme="c">
        </form>
    </div>

    <?php include '../common/footer.php';?>
</div>
<script>
    $(document).ready(function(){
        $("img").error(function () {
            $(this).attr("src", "../../resource/images/head_default.jpg");
        });
    });
</script>
</body>
</html>
