<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
    <title>易知海外</title>

    <script src="../../resource/js/jquery/jquery-1.11.1.min.js"></script>
    <script src="../../resource/js/jquery/jquery.mobile-1.4.5.min.js"></script>
    <script src="../../resource/js/validation/jquery.validate.min.js"></script>
    <script src="../../resource/js/validation/localization/messages_zh.min.js"></script>

    <link rel="stylesheet" href="../../resource/style/jquery/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="../../resource/style/themes/my-theme.min.css" />
    <link rel="stylesheet" href="../../resource/style/validation/validation.css" />
    <link rel="stylesheet" href="../../resource/style/weiui/weui.css"/>
    <style>
        div.headimage {
            height: 65px;
            width: 65px;
        }
        label{ color:#01A4B5}
        p{ font-size:14px;}
        table{ table-layout : fixed; width:100%; }
    </style>
</head>
<body>
<div data-url="panel-fixed-page1" data-role="page" class="jqm-demos" id="panel-fixed-page1" data-title="易知海外">
    <div data-role="header" data-position="fixed" data-theme="c">
        <h1>登陆</h1>
    </div>

    <?php if(isset($existedUser)){ ?>
    <div class="errmsgstring1" style="color:red" data-role="content">
        <?php echo $existedUserPhoneReigon.$existedUserPhoneNumber; ?>已经存在,请直接登陆.
    </div>
    <?php } ?>

    <?php if($signInErrorMsg != null){ ?>
    <div class="errmsgstring2" style="color:red" data-role="content">
        <?php echo $signInErrorMsg; ?>
    </div>
    <?php } ?>


    <div id="page1" data-role="content">
        <form id="signForm" data-ajax="false" method="post" action="../../../Controller/SignIn.php?free=<?php echo $isFreeWeb;?>">
            <label for="phone_reigon" style="font-size:12px; color:#33c8ce">请选择地区号:</label>
            <div data-theme="d">
                <a href="#nav-panel" class="ui-btn ui-shadow  ui-corner-all ui-btn-mini"><h5 id="regionDesc">中国大陆 +86</h5></a>
            </div>
            <a href="#nav-popup" data-rel="popup" class="ui-btn ui-corner-all ui-shadow ui-btn-mini" data-transition="pop"><h5 id="regionDesc">中国大陆 +86</h5></a>
            <a href="#nav-page" class="ui-btn ui-corner-all ui-shadow ui-btn-mini" data-transition="pop"><h5 id="regionDesc">中国大陆 +86</h5></a>

            <input type="hidden" name="phone_reigon" id="phone_reigon" value="">
            </br>
            <label for="phone_number" style="font-size:12px; color:#33c8ce">请输入手机号码:</label>
            <input type="number" name="phone_number" id="phone_number" value="<?php echo $existedUserPhoneNumber; ?>">
            </br>
            <label for="password" style="font-size:12px; color:#33c8ce">请输入<?php echo isset($_SESSION['tempCode'])? "临时登陆":"" ?>密码:</label>
            <input type="password" name="password" id="password">
            </br>
            <input type="submit" name="signinsubmit" id="signinsubmit" value="登陆" data-theme="c">
        </form>
    </div>

    <div data-role="content">
        <div class="ui-grid-c">
            <div class="ui-block-a">
                <a href="./forget_password.php" class="ui-mini" rel="external"  data-icon="home">忘记密码</a>
            </div>
            <div class="ui-block-b">
            </div>
            <div class="ui-block-c">
            </div>
            <div class="ui-block-d">
                <a href="./signup.php" class="ui-mini" rel="external" data-icon="home">立即注册</a>
            </div>
        </div>
    </div>
    <div data-role="panel" data-position="left" data-display="reveal" id="nav-panel">
        <ul data-role="listview">
            <li data-role="list-divider" data-icon="delete"><a href="#" data-rel="close">返回</a></li>
            <li><a onclick="setRegion('中国大陆 +86', '+86');" data-rel="close"><label style="font-size:12px;">中国大陆 +86</label></a></li>
            <li><a onclick="setRegion('美国 +1', '+1');" data-rel="close"><label style="font-size:12px;">美国 +1</label></a></li>
            <li data-role="list-divider">欧洲</li>
            <li><a><label style="font-size:12px;">爱尔兰 +353</label></a></li>
            <li data-role="list-divider">亚洲</li>
            <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
            <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
            <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
            <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
            <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
            <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
            <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
            <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
            <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
            <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
            <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
            <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
            <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
            <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
            <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
        </ul>
    </div><!-- /panel -->
    <div data-role="popup" data-display="overlay" id="nav-popup">
        <ul data-role="listview">
            <li data-role="list-divider" data-icon="delete"><a href="#" data-rel="close">返回</a></li>
            <li><a onclick="setRegion('中国大陆 +86', '+86');" data-rel="close"><label style="font-size:12px;">中国大陆 +86</label></a></li>
            <li><a onclick="setRegion('美国 +1', '+1');" data-rel="close"><label style="font-size:12px;">美国 +1</label></a></li>
            <li data-role="list-divider">欧洲</li>
            <li><a><label style="font-size:12px;">爱尔兰 +353</label></a></li>
            <li data-role="list-divider">亚洲</li>
            <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
            <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
            <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
            <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
            <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
            <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
            <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
            <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
            <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
            <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
            <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
            <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
            <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
            <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
        </ul>
    </div><!-- /panel -->


    <?php include '../common/footer.php';?>
</div>
<div data-role="page" id="nav-page">
    <ul data-role="listview">
        <li data-role="list-divider" data-icon="delete"><a href="#" data-rel="close">返回</a></li>
        <li><a onclick="setRegion('中国大陆 +86', '+86');" data-rel="back"><label style="font-size:12px;">中国大陆 +86</label></a></li>
        <li><a onclick="setRegion('美国 +1', '+1');" data-rel="back"><label style="font-size:12px;">美国 +1</label></a></li>
        <li data-role="list-divider">欧洲</li>
        <li><a><label style="font-size:12px;">爱尔兰 +353</label></a></li>
        <li data-role="list-divider">亚洲</li>
        <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
        <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
        <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
        <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
        <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
        <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
        <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
        <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
        <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
        <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
        <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
        <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
        <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
        <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
        <li><a><label style="font-size:12px;">阿联酋 +971</label></a></li>
    </ul>
</div>
<script>
    $( "#panel-fixed-page1" ).on( "pageinit", function() {
        $( "#signForm" ).validate({
            rules: {
                phone_number: {
                    required: true,
                    minlength: 6
                },
                password: {
                    required: true
                }
            },
            messages: {
                phone_number: {
                    required: "手机号码不能为空",
                    minlength: "手机号码位数不足"
                },
                password: {
                    required: "密码不能为空"
                }
            },
            errorPlacement: function( error, element ) {
                error.insertAfter( element.parent() );
            }
        });
    });
    function setRegion(regionDesc, gegionId) {
        $('#regionDesc').html(regionDesc);
        $('#phone_reigon').val(gegionId);
    };
</script>
</body>
</html>
