<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>易知海外</title>

    <script src="../../resource/js/jquery/jquery-1.11.1.min.js"></script>
    <script src="../../resource/js/jquery/jquery.mobile-1.4.5.min.js"></script>

    <link rel="stylesheet" href="../../resource/style/jquery/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="../../resource/style/jquery/jquery.mobile.theme-1.4.5.min.css" />
    <style type="text/css">

    </style>
</head>
<body>
<div data-url="panel-fixed-page1" data-role="page" class="jqm-demos" id="panel-fixed-page1" data-title="易知海外">
    <div data-role="header" data-position="fixed">
        <h1>发现</h1>
    </div>

    <div data-role="content">
        <form id="search-user"data-ajax="false" method="post" action="./serchresults.html">
            <input type="search" name="searchkey" id="searchkey">
        </form>
    </div>
    <div data-role="content">
        热门搜索
        <div class="ui-grid-a">
            <div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:30px">Block A</div></div>
            <div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:30px">Block B</div></div>
            <div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:30px">Block A</div></div>
            <div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:30px">Block B</div></div>
            <div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:30px">Block A</div></div>
            <div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:30px">Block B</div></div>
        </div><!-- /grid-c -->
    </div>

    <div data-role="content">
        热门搜索
        <div class="ui-grid-a">
            <div class="ui-block-a"><a href="#" class="ui-shadow ui-btn ui-corner-all">Anchor</a></div>
            <div class="ui-block-b"><a href="#" class="ui-shadow ui-btn ui-corner-all">Anchor</a></div>
            <div class="ui-block-a"><a href="#" class="ui-shadow ui-btn ui-corner-all">Anchor</a></div>
        </div>
    </div>

    <div data-role="content">
        热门搜索
        <div class="ui-grid-c">
            <div class="ui-block-a"><a href="#" class="ui-shadow ui-btn ui-corner-all">Anchor</a></div>
            <div class="ui-block-b"><a href="#" class="ui-shadow ui-btn ui-corner-all">Anchor</a></div>
            <div class="ui-block-c"><a href="#" class="ui-shadow ui-btn ui-corner-all">Anchor</a></div>
            <div class="ui-block-d"><a href="#" class="ui-shadow ui-btn ui-corner-all">Anchor</a></div>

        </div>
    </div>

    <div data-role="content">
            历史搜索
        <ul data-role="listview" data-split-icon="delete" data-split-theme="a" data-inset="true">
            <li><a href="#"><h2>Warning</h2></a>
                <a href="javascript:alert('ddd');">干掉</a>
            </li>
            <li><a href="#"><h2>Warning</h2></a>
                <a href="#purchase" data-rel="popup" data-position-to="window" data-transition="pop">Purchase album</a>
            </li>
            <li><a href="#"><h2>Warning</h2></a>
                <a href="#purchase" data-rel="popup" data-position-to="window" data-transition="pop">Purchase album</a>
            </li>
        </ul>
        <div data-role="popup" id="purchase" data-theme="a" data-overlay-theme="b" class="ui-content" style="max-width:340px; padding-bottom:2em;">
            <h3>Purchase Album?</h3>
            <p>Your download will begin immediately on your mobile device when you purchase.</p>
            <a href="index.html" data-rel="back" class="ui-shadow ui-btn ui-corner-all ui-btn-b ui-icon-check ui-btn-icon-left ui-btn-inline ui-mini">Buy: $10.99</a>
            <a href="index.html" data-rel="back" class="ui-shadow ui-btn ui-corner-all ui-btn-inline ui-mini">Cancel</a>
        </div>
    </div>
    <div data-role="footer" data-position="fixed">
        <h4>Copyright (c) 2016 .</h4>
    </div>
</div>
</body>
</html>
