<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>发现</title>
    <link rel="stylesheet" href="../style/weui.css"/>
    <link rel="stylesheet" href="../style/example.css"/>
    <link rel="stylesheet" href="../style/mobile.css"/>
    <link rel="stylesheet" href="../style/default/common.css"/>
    <link rel="stylesheet" href="../style/flaty/flaty.css"/>
    <link rel="stylesheet" href="../style/bootstrap.css"/>
    <!--

    -->
</head>
<body>

<!--
<div class="aw-top-menu-wrap">
    <div class="container">
        <div>
            <span class="pull-left color-999" >
                <a href="javascript:alert();;"><img class="img" src="../images/earth.jpeg" alt="" width="20" /></a>
                <a href="javascript:alert();">地球</a>
            </span>
            <span class="pull-right color-999" >
                <a href="javascript:alert();"><img class="img" src="../images/search.jpg" alt="" width="20" /></a>
                <a href="javascript:alert();">搜索</a>
            </span>
        </div>
    </div>
</div>
-->
<div class="fixedheader">
    <div class="container">
        <div>
            <span class="pull-left color-999">
                <a href="javascript:alert();"><img class="img" src="../images/earth.jpeg" alt="" width="25" /></a>
                <a href="javascript:alert();">地球</a>
            </span>
            <span class="pull-right color-999" >
                <a href="javascript:alert();"><img class="img" src="../images/search.jpg" alt="" width="25" /></a>
                <a href="javascript:alert();">搜索</a>
            </span>
        </div>
    </div>
</div>

<script src="../js/zepto.min.js"></script>
<script src="../js/router.min.js"></script>
<script src="../js/example.js"></script>

</body>
</html>